@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

html{
    background: rgb(112,32,238);
    background: linear-gradient(90deg, rgba(112,32,238,1) 0%, rgba(255,141,39,1) 100%);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
    padding: 0px 40px 30px;
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

span{
    font-family: 'Zilla Slab', serif;
    font-size: 130%;
}

img {
   display: block;
   margin: 0 auto;
}
  

h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;
}

p{
    line-height: 2;
    letter-spacing: 1px;
}



button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
}

button:hover {
    border-color: #000000;
    background: #f7f7f7;
}

@media only screen and (max-width: 630px) {
    /* For mobile phones: */
    body{
        width: 75%;
        overflow-x: hidden;
    }
  }

@media only screen and (max-width: 380px) {
   /* For mobile phones: */
    body{
       width: 70%;
       overflow-x: hidden;
       font-size: 75%;
    }
}